<section class="hero is-fullheight is-info">
  <div class="hero-content">
    <div class="container">
      <h2 class="subtitle">
        Who's going?
      </h2>
    </div>
    <div class="columns">
      <div class="column">
        <form id="main-form">
          <p class="control">
            <input id="event" class="input is-large" type="text" placeholder="https://www.facebook.com/events/677917902351129/">
            <span>hit enter when you're done</span>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
